body {
    width: 100vw;
    height: 100vh;
    background-color: #383428;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #caa472;
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 30vh;
    margin-left: 1.25vh;
    box-shadow: 5px 8px 2px white;
    border-radius: 3px;
}

#start {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 26vw;
    height: 40vh;
    border: 2px solid black;
    margin-left: 2vw;
    margin-bottom: 2vh;
    border-radius: 4px;
}

#offset {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 26vw;
    height: 40vh;
    border: 2px solid black;
    margin-bottom: 2vh;
    border-radius: 4px;
}

#end {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 26vw;
    height: 40vh;
    border: 2px solid black;
    margin-right: 2vw;
    margin-bottom: 2vh;
    border-radius: 4px;
}

.disco3 {
    height: 4vh;
    width: 25vw;
    background-color: yellow;
    border-radius: 20px;
}

#disco2 {
    height: 4vh;
    width: 22vw;
    background-color: red;
    border-radius: 20px;
}

#disco1 {
    height: 4vh;
    width: 18vw;
    background-color: green;
    border-radius: 20px;
}

#disco0 {
    height: 4vh;
    width: 15vw;
    background-color: blue;
    border-radius: 20px;
}

#title {
    color: white;
    font-family: 'Fredoka One', cursive;
}