body {
    width: 100vw;
    height: 100vh;
    background-color: #383428;
    font-family: 'Roboto', sans-serif;
}

#conteudo {
    display: flex;
    background-color: white;
    color: #444444;
    width: 80%;
    border-radius: 4px;
    margin-top: 10%;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25%;
    padding: 3%;
}

p {
    line-height: 1;
    word-spacing: .5rem;
}

#title {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 300%;
    color: white;
    font-family: 'Fredoka One', cursive;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #444444;
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 30vh;
    margin-left: 1.25vh;
    box-shadow: 5px 8px 2px white;
    border-radius: 3px;
}

#start {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 26vw;
    height: 40vh;
    border: 2px solid #12120E;
    margin-left: 2vw;
    margin-bottom: 2vh;
    border-radius: 4px;
}

#offset {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 26vw;
    height: 40vh;
    border: 2px solid #12120E;
    margin-bottom: 2vh;
    border-radius: 4px;
}

#end {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 26vw;
    height: 40vh;
    border: 2px solid #12120E;
    margin-right: 2vw;
    margin-bottom: 2vh;
    border-radius: 4px;
}

#first {
    height: 4vh;
    width: 25vw;
    background-color: yellow;
    border-radius: 20px;
}

#second {
    height: 4vh;
    width: 22vw;
    background-color: red;
    border-radius: 20px;
}

#third {
    height: 4vh;
    width: 18vw;
    background-color: green;
    border-radius: 20px;
}

#fourth {
    height: 4vh;
    width: 15vw;
    background-color: blue;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}